<html xmlns:th="https://www.thymeleaf.org">

<head>
	<title>Register - Employee</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="/styles/master.css">

	<script type="text/javascript" src="/scripts/master.js" defer></script>
	<script type="text/javascript" src="/scripts/employeeDetail.js" defer></script>
</head>

<body>

	<div class="header">
		<h1 class="primary-message">Employee Detail</h1>
	</div>
		
	<div id="main" class="main">
		<h4 id="errorValidation" style="color: red;"></h4>
		<div id="error" th:class="${#strings.isEmpty(errorMessage)} ? hidden : ''">
			<h4 id="errorMessage" class="error-message" th:text="${errorMessage}"></h4>
		</div>

		<div class="inputContent">
			<table id="employeeDetails">
				<tbody>
					<tr class="hidden">
						<td>ID:</td>
						<td>
							<input id="employeeId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.id} : ''" />
						</td>
					</tr>
					<tr class="hidden">
						<td>Manager ID:</td>
						<td>
							<input id="employeeManagerId" type="hidden" th:value="${!employee.isEmpty} ? ${employee.managerId} : ''" />
						</td>
					</tr>
					<tr id="toggleHidden" th:class="${employee.isEmpty} ? hidden : ''">
						<td class="label">Employee ID:</td>
						<td>
							<input id="employeeEmployeeId" type="text" th:value="${!employee.isEmpty} ? ${employee.employeeId} : ''" class="update" disabled />
						</td>
					</tr>
					<!-- TODO: Other employee inputs -->
					<tr>
						<td class="label">First Name:</td>
						<td>
							<input id="firstName" type="text" th:value="${!employee.isEmpty} ? ${employee.firstName} : ''">
						</td>
					</tr>
					<tr>
						<td class="label">Last Name:</td>
						<td>
							<input id="lastName" type="text" th:value="${!employee.isEmpty} ? ${employee.lastName} : ''">
						</td>
					</tr>
					<tr>
						<td class="label">Password:</td>
						<td>
							<input id="password" type="text" th:value="${!employee.isEmpty} ? ${employee.password} : ''">
						</td>
					</tr>
					<tr>
						<td class="label">Verify Password:</td>
						<td>
							<input id="verifyPassword" type="text">
						</td>
					</tr>
					<tr>
						<td class="label">Employee Type:</td>
						<td>
							<select name="employeeType" id="employeeType">
								<option value=101>Cashier</option>
								<option value=501>Shift Manager</option>
								<option value=701>General Manager</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<button type="button" id="saveBtn">Save</button>
						</td>
					</tr>
				</tbody>
			</table>

		</div>

		<!-- TODO: An action element to initiate a save -->

		<div id="employeeSavedAlertModal" class="modal animate-opacity-show">
			<div class="modal-content">
				<div class="container gray-blue">
					<h1>
						<span>Employee</span><br />
						<span>Saved</span>
					</h1>
				</div>
			</div>
		</div>
	</div>

	<div class="footer" th:classappend="${employee.isInitialEmployee} ? hidden : ''">
		<!-- temp url-->
		<a href="">
			<img id="signOutImage" src="/images/Sign-Out.png" alt="Sign Out" class="footer" />
		</a>
	</div>

</body>

</html>